{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js"></script>
    <script>
    $(document).ready(function() {
        var textareas = $('textarea[data-type="code"]').hide();

        for (var i=0; i<textareas.length; i++){
            var textarea = textareas.eq(i);
            var id = textarea.attr('name') + '_editor';
            var editor_div = $('<div></div>');
            editor_div.attr('id', id);
            textarea.after(editor_div);
            editor_div.css('width', textarea.data('width'));
            editor_div.css('height', textarea.data('height'));
            textarea.hide();

            var editor = ace.edit(id);
            editor.getSession().setValue(textarea.val());
            editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
            });

            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            editor.getSession().setTabSize(4);
        }
    });
    </script>
{% endblock %}